body {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #555151;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: #555151;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.main-icon {
  font-size: 45px;
  color: #fff;
}

.main-image {
  width: 145%;
  height: auto;
  margin: 12px 0px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.searchbox,
.searchbutton {
  padding-left: 0px;
  padding-right: 0px;
}

.searchbox-text {
  border-radius: 5px 0px 0px 5px;
  font-size: 15px;
}

.searchbutton-text {
  font-size: 23px;
  border-radius: 0px 5px 5px 0px;
  background: #208a7e;
  border: 1px solid #208a7e;
}

.searchbutton-text:hover {
  background: #409b90;
  border: 1px solid#409B90;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}

.weather-app {
  padding: 30px;
  border: 0px solid #dadde1;
  border-radius: 5px;
  background-image: linear-gradient(
    -225deg,
    #def3f8 0%,
    #87a7d9 50%,
    #7085b6 100%
  );
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  height: 90px;
  width: 90px;
  margin: -18px 5px 0px -20px;
}

.weather-temperature strong {
  color: #2c2c2c;
  font-size: 50px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 18px;
  top: -24px;
  font-weight: 500;
}

.weather-temperature .active {
  color: #2c2c2c;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-attributes {
  margin-top: 10px;
}

.weather-forecast {
  margin: 5px 0px 35px 0px;
}

.forecast-element {
  padding-left: 0px;
}

.weather-forecast h3 {
  color: #555151;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color: #555151;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}

.footer {
  margin-left: 5px;
}

@media only screen and (max-width: 494px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  [id="city-input"]::-webkit-input-placeholder::before {
    content: "Search...";
  }
  .weather-temperature img {
    height: 60px;
    width: 60px;
    margin: 0px;
  }
}

@media only screen and (max-width: 465px) {
  h1 {
    font-size: 20px;
  }
  .weather-app-wrapper {
    margin: 15px auto;
  }
  .weather-app {
    padding: 10px;
}

@media only screen and (max-width: 396px) {
  h1 {
    margin-top: 40px;
  }
  
}

@media only screen and (max-width: 325px) {
  .main-image {
    display: none;
  }
  #temp-move {
    margin-top: 20px;
    position: absolute;
  }
}
